{% extends "master" %}
{% block content %}
<p class="post-updated">{{ updated | date:"dd MMM yyyy" }}</p>
<h1><a href="{{ relative_url }}">{{ title }}</a></h1>
{{ body }}
{% if updated > published %}
<p class="publish-note">Originally published on {{ published | date:"dd MMM yyyy" }}; updated on {{ updated | date:"dd MMM yyyy" }}</p>
{% endif %}
<p class="questions-or-comments">Questions or comments? Get in touch <a href="https://twitter.com/markashleybell" title="External Link: Twitter Profile">@markashleybell</a>, or email <span class="e">[Turn On Javascript To View Email Address]</span>.</p>
{% endblock %}
{% block recent_articles %}
<h2>More articles</h2>
<ul class="post-list" role="navigation">
    {% for article in article_list %}
    <li><a href="{{ article.relative_url }}">{{ article.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}